@charset "utf-8";
/*
	author: zml
	qq:   793190036
*/

$ML_GRAY    :  #e5e5e5;
$ML_9BLACK  :  #999;
$ML_6BLACK  :  #666;
$ML_WHITE   :  #fff;
$ML-RED     :  #d60d03;

/* reset */
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑"; }
/* end reset */

/* public */
.fl { float: left; }
.fr { float: right; }
.clear { zoom: 1; }
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.gradient {
  background:   -moz-linear-gradient(top, #FFFFFF, #f8f8f8);
  background:-webkit-linear-gradient(top, #FFFFFF, #f8f8f8);
  background:    -ms-linear-gradient(top, #FFFFFF, #f8f8f8);
  background:        linear-gradient(top, #FFFFFF, #f8f8f8);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
//+background:#f9f9f9;
}
#header, #nav, #content { width: 960px; margin: 0 auto; }
#search, .wrap .section, #side .side_section, #footer { border: 1px solid #dbdbdb; }
#main .main_ad, #side .side_section, #side .side_ad { margin-bottom: 10px; }
#search, #main .main_ad, .wrap .section, #footer, #side .side_section { border-radius: 6px; }
.arrow_up_red, .arrow_down_red, .arrow_down_gray {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.arrow_up_red { border-bottom: 4px solid #cc0d13; }
.arrow_down_red { border-top: 4px solid #cc0d13; }
.arrow_down_gray { border-top: 4px solid #c4bdbd; }
/* end public */

/* layout */
#header { height: 30px;}
#nav { height: 100px; position: relative}
#search { width: 958px; height: 113px; margin: 0 auto 10px; position: relative}
#main { width: 710px; }
#side { width: 240px; }
#main .wrap { padding-bottom: 10px; }
.wrap .section{ padding: 0 12px; width: 322px; }
.wrap .tab { width: 350px; position: relative}
.main_ad { overflow: hidden; }
#side .side_section { width: 220px; padding: 0 10px; overflow: hidden; }
#side .load_section { width: 240px; overflow: hidden; border-radius: 6px; border: 1px solid #dbdbdb; margin-bottom: 10px}
#side .side_ad { width: 240px; border-radius: 6px; overflow: hidden;}
#side .side_ad_border { width: 240px; border-radius: 6px; overflow: hidden; border: 1px solid #dbdbdb; margin-bottom: 10px;}
#footer { width: 958px; height: 100px; margin: 0 auto 60px; }
/* end layout */

body { background-color: #fff;font-size: 12px; font-family: "微软雅黑";}
#header {
  .city {
    float: left;
    height: 30px;
    line-height: 30px;
    color: $ML_6BLACK;
    a {
      padding: 3px 10px;
      margin-right: 2px;
      border-radius: 4px;
      color: $ML_9BLACK;
      border: 1px solid $ML_GRAY;

    }
    a:hover {
      background: rgba(0,0,0,.2);
    }
    a.active {
      background: $ML_WHITE;
      color: $ML-RED;
    }
  }
  .link {
    float: right;
    height: 30px;
    line-height: 30px;
    color: $ML_6BLACK;
    a {
        color: $ML_9BLACK;
        padding: 3px 0 0 20px;
        background: url("../images/header_link_bg.gif") no-repeat;
    }
    a:hover {
      text-decoration: underline;
    }
    .head-img1 {
      background-position: 0 3px;
    }
    .head-img2 {
      background-position: 0 -27px;
    }
  }
}
#nav h1 {
  position: absolute;
  top: 19px;
  left: 368px;
  display: inline-block;
  width: 223px;
  height: 62px;
}
#nav ul {
  padding-top: 15px;
}
#nav ul li {
  float: left;
  a {
    display: inline-block;
    width: 66px;
    padding-top: 50px;
    text-align: center;
    color: $ML_6BLACK;
    background: url("../images/nav_bg.png") no-repeat;
  }
  .nav1 { background-position: 0 0; }
  .nav2 { background-position: -66px 0; }
  .nav3 { background-position: -132px 0; }
  .nav4 { background-position: -198px 0; }
  .nav5 { background-position: -264px 0; }
  .nav6 { background-position: -330px 0; }
  .nav7 { background-position: -396px 0; }
  .nav8 { background-position: -462px 0; }
  .nav9 { background-position: -528px 0; }
  .nav10 { background-position: -594px 0; }
  .nav1:hover { background-position: 0 -68px; }
  .nav2:hover { background-position: -66px -68px; }
  .nav3:hover { background-position: -132px -68px; }
  .nav4:hover { background-position: -198px -68px; }
  .nav5:hover { background-position: -264px -68px; }
  .nav6:hover { background-position: -330px -68px; }
  .nav7:hover { background-position: -396px -68px; }
  .nav8:hover { background-position: -462px -68px; }
  .nav9:hover { background-position: -528px -68px; }
  .nav10:hover { background-position: -594px -68px; }
}
#search .bar {
  position: absolute;
  top: 16px;
  left: -1px;
  width: 958px;
  height: 66px;
  border: 1px solid #c40d0e;
  background-color: #e21c01;
  border-radius: 4px;
}
#search .bar .menu {
  position: absolute;
  top: -27px;
  left: 226px;
  .active {
    position: relative;
    top: -1px;
    height: 27px;
    line-height: 27px;
    color: #fff;
    font-weight: 800;
    border: 1px solid #c40d0e;
    background-color: #e21c01;
    border-bottom: none;
    box-shadow: none;
  }
}
#search .bar li {
  position: relative;
  float: left;
  margin-right: 1px;
  height: 25px;
  width: 80px;
  text-align: center;
  line-height: 25px;
  border: 1px solid #f8d0bf;
  border-radius: 4px 4px 0 0;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
  border-bottom: none;
}
#search .img {
  position: relative;
  top: -3px;
  left: 30px;
  width: 163px;
  height: 122px;
  background: url("../images/search_img.png") no-repeat;
  background-position: 0 0;
  z-index: 2;
}
#search .form {
  position: absolute;
  top: 37px;
  left: 226px;
  .text {
    float: left;
    width: 415px;
    height: 20px;
    margin-right: 10px;
    font-size: 12px;
    box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,.1);
    background-color: #fff1ef;
    border: none;
    border-radius: 4px;
    text-indent: 10px;
    color: #ea7a7a;
  }
  .btn {
    float: right;
    width: 63px;
    height: 26px;
    margin-top: -2px;
    border: none;
    background: url("../images/search_img.png") no-repeat;
    background-position: -163px 0;
  }

}
#search .recommend {
  position: absolute;
  top: 28px;
  right: 16px;
  width: 213px;
  line-height: 18px;
  color: #fff;
  a {
    color: $ML_WHITE;
  }
  a:hover {
    text-decoration: underline;
  }
}
#search .scroll {
  position: absolute;
  left: 226px;
  bottom: 0;
  width: 380px;
  height: 30px;
  line-height: 30px;
  padding-left: 80px;
  background: url("../images/search_img.png") no-repeat -226px 8px;
  overflow: hidden;
}
#search .scroll ul {
  position: absolute;
}
#search .scroll li {
  height: 30px;
  line-height: 30px;
}
#search .scroll a {
  color: $ML_6BLACK;
  cursor: pointer;
}
#search .scroll strong {
  font-size: 12px;
  margin-right: 5px;
  color: $ML-RED;
}
#search .scroll span {
  color: #ccc;
  margin-right: 5px;
}
#search .scroll .arrow_up_red {
  top: 9px;
  right: 10px;
  cursor: pointer;
}
#search .scroll .arrow_down_red {
  right: 10px;
  bottom: 9px;
  cursor: pointer;
}
#main .section .video-title {
  font-size: 16px;
  font-weight: 900;
  height: 44px;
  line-height: 44px;
  color: $ML-RED;
  background: url("../images/video_bg.gif")no-repeat 96px 10px;
}
#main .section .video {
  margin-bottom: 10px;
}
#main .section .video-list {
  width: 250px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 70px;
  background: url('../images/video_bg.gif')no-repeat 0 -43px;
}
#main .video-list li {
  background: url("../images/dot.gif") no-repeat 5px center;
  padding-left: 12px;
  height: 20px;
  line-height: 20px;
  a {
    color: #4d4d4d;
  }
}
#main .video-list a:hover {
  text-decoration: underline;
}
.login-title {
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  padding: 0 10px;
  border-bottom: 1px solid $ML_GRAY;
  strong {
    color: $ML-RED;
    margin-right: 5px;
  }
  span {
    color: #010000;
  }
}
#side .load_section .form {
  margin: 10px;

  p {
    margin-bottom: 5px;
    label {
      display: inline-block;
      width: 40px;
      margin-right: 5px;
      text-align: right;
    }
    input[type='text'] {
      width: 100px;
      background: rgba(0,0,0,.1);
      border: 1px solid $ML_GRAY;
      margin-right: 5px;
      border-radius: 2px;
      text-indent: 2px;
    }
    input[type='checkbox'] {
      margin-right: 3px;
    }
    input[type='submit'] {
      position: relative;
      top: -1px;
      border: none;
      padding: 3px 10px;
      background: $ML-RED;
      box-shadow: 1px 1px 2px rgba(0,0,0,.2);
      color: #fff;
      border-radius: 15px;
    }
  }
}
#side .load {
  height: 40px;
  line-height: 40px;
  margin: 0 10px;
  text-align: center;
  border-top: 1px solid $ML_GRAY;
  li {
    display: inline-block;
    width: 80px;
    text-align: left;
    padding-left: 15px;
    background: url("../images/dot.gif")no-repeat 5px center;
    a {
      color: $ML_9BLACK;
    }
    a:hover {
      text-decoration: underline;
    }
  }

}
.main-title {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  strong {
    color: $ML-RED;
    margin-right: 5px;
  }
  span {
    color: #010000;
  }
  a {
    float: right;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../images/more.gif")no-repeat 0 12px;
  }
}
#main .tab .nav {

  li {
    position: relative;
    height: 35px;
    width: 172px;
    text-align: center;
    line-height: 35px;
    border-radius: 6px 6px 0 0;
    border: 1px solid #dbdbdb;
    border-bottom: none;
    .arrow_down_red {
      top: 14px;
      right: 16px;
    }
    .arrow_down_gray {
      top: 14px;
      right: 16px;
    }
  }
  .active {
    height: 35px;
    line-height: 35px;
    z-index: 2;
    background: #fff;
    strong {
      color: $ML-RED;
    }
  }
}

#main .tab .tab-list {
  position: absolute;
  top: 35px;
  left: 0;
  width: 324px;
  border: 1px solid #dbdbdb;
  border-radius: 0 0 6px 6px;
  padding: 0 12px;
  .tab-con {
    position: relative;
    .hot {
      li {
        background: url("../images/hot_list_li_bg.gif")no-repeat;
        margin: 16px 0;
        a {
          display: inline-block;
          margin: 10px 0 0 10px;
          color: $ML_9BLACK;
          strong {
            color: $ML-RED;
          }
          span {
            line-height: 14px;
          }
        }
      }
    }
  }
  .tab_more {
    float: right;
    display: inline-block;
    height: 49px;
    width: 49px;
    background: url("../images/more.gif")no-repeat no-repeat 0 12px;
  }
}
#main .section-day {
  position: relative;
  width: 348px;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  h2 {
    padding-top: 20px;
    padding-left: 20px;
    height: 52px;
    background: url("../images/new_title_bg.gif")no-repeat top right;
    strong {
      color: $ML-RED;
    }
    span {
      display: block;
      color: $ML_6BLACK;
    }
    b {
      position: absolute;
      top: 20px;
      left: 150px;
      font-size: 40px;
      color: $ML_RED;
    }
  }
  .line {
    height: 2px;
    background: url("../images/activity_bg.gif") no-repeat 0 0;
  }
  .today-con {
    position: relative;
    padding: 12px 12px 0;
    width: 300px;
    height: 90px;
    .today-img {
      position: relative;
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 84px;
        height: 84px;
        background: url("../images/activity_bg.gif") no-repeat -373px 0;
        z-index: 2;
      }
      img {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 80px;
        height: 80px;
      }
    }
    .today-text {
      float: right;
      top: 0;
      right: 0;
      display: inline-block;
      width: 200px;
      .date {
        display: inline-block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 16px;
        color: $ML-RED;
        text-align: center;
        background: url("../images/activity_bg.gif")no-repeat -348px 0;
      }
      .title {
        display: inline-block;
        margin-left: 10px;
        font-size: 12px;
        color: #333333;

      }
      p {
        margin-top: 10px;
        color: $ML_6BLACK;
      }
    }
  }
  .new-title {
    background: url("../images/new_title_bg.gif")no-repeat 0 0;
    background-position: 140px -73px;
  }
}
#main .section .bbs {
  padding-bottom: 3px;
  li {
    position: relative;
    background-color: rgba(177,177,177,.1);
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    border-radius: 6px;
    a {
      display: block;
      strong {
        font-size: 14px;
        color: $ML-RED;
      }
      img {
        display: none;
      }
      b {
        color: $ML_9BLACK;
      }
      em {
        display: none;
      }
    }
  }

  .active {
    height: 70px;
    background: $ML-RED;
    img {
      position: absolute;
      top: 10px;
      left: 5px;
      display: block;
    }
    span {
      position: absolute;
      top: 5px;
      left: 65px;
      font-size: 18px;
      color: $ML_WHITE;
    }
    b {
      display: none;
    }
    em {
      position: absolute;
      right: 5px;
      bottom: 0;
      font-size: 25px;
      color: $ML_WHITE;
      display: block;
    }
  }
}
#main .section-day .week {
   margin: 0 auto;
   width: 315px;
   height: 35px;
   background: #f3f3f3;
  li {
    float: left;
    width: 45px;
    height: 35px;
    line-height: 35px;
    text-align: center;
  }
}
#main .section-day .week-li {
  display: block;
  margin: 5px auto 0;
  height: 267px;
  width: 315px;
  li {
    position: relative;
    float: left;
    width: 44px;
    height: 40px;
    line-height: 40px;
    margin-right: 1px;
    margin-bottom: 1px;
    text-align: center;
    background-color: #ededed;
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 44px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .week-g {
    background-color: rgba(237,237,237,.4);
  }
}
#main .recommend-pic {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 160px;
  background-color: rgba(237,237,237,.4);
  padding: 10px;
  border-radius: 6px;
  ul {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 224px;
    height: 135px;
    li {
      position: absolute;
      width: 224px;
      height: 135px;
    }
  }
  ol {
    position: absolute;
    top: 10px;
    right: 10px;
    li {
      width: 54px;
      height: 30px;
      border: 2px solid #fff;
      margin-bottom: 16px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .active {
      border: 2px solid $ML-RED;
    }
  }
  p {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 14px;
  }

}
#main .recommend-list {
  width: 320px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  li {
    height: 35px;
    line-height: 35px;
    em {
      display: inline-block;
      width: 30px;
      img {
        vertical-align: middle;
        margin-right: 2px;
      }
    }
    b {
      color: $ML_9BLACK;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
#side .tabNav .tab-coupons{
  padding: 0 6px;
  border-bottom: 1px solid #dbdbdb;
}
#main .tabNav .tab-coupons{
  padding: 0 6px;
  border-bottom: 1px solid #dbdbdb;
}
.tab-coupons ul {
  height: 25px;

}
#side .tab-coupons .tab-group li {
  position: relative;
  float: left;
  width: 66px;
  height: 24px;
  margin-right: 1px;
  line-height: 25px;
  text-align: center;
  color: $ML_6BLACK;
  border: 1px solid #dbdbdb;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
}
#side .tab-coupons .tab-group .active {
  top: -1px;
  background-color: #fff;
  height: 24px;
  line-height: 24px;
  z-index: 2;
}
#main .tab-coupons .tab-group li {
  position: relative;
  float: left;
  width: 100px;
  height: 24px;
  margin-right: 1px;
  line-height: 25px;
  text-align: center;
  color: $ML_6BLACK;
  border: 1px solid #dbdbdb;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
}
.tab-coupons .tab-group div {
  position: absolute;
  top: 10px;
  right: 10px;
}
#side .tabNav .list_tab {

  li {
    height: 28px;
    line-height: 28px;
    padding-left: 12px;
    background: url("../images/dot.gif") no-repeat 5px center;
    border-top: 1px dotted #cbcbca;
  }
  .title {
    height: 32px;
    line-height: 33px;
    background: none;
    border: none;
   .col1, .col2, .col3 {
      color: $ML_9BLACK;
      float: left;
    }
  }
  .title:after {
    content: '';
    display: table;
    clear: both;
  }

}

#side {
  li .col1 {
    display: inline-block;
    width: 120px;
    text-align: left;
    a:hover {
      text-decoration: underline;
    }
  }
  li .col2, li .col3 {
    display: inline-block;
    text-align: center;
  }
  li .col2 {

    width: 35px;

    color: $ML-RED;
  }
  li .col3 {
    width: 40px;
  }

}
#main .list_tab {

  li {
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
    background: url("../images/dot.gif") no-repeat 5px center;
    border-top: 1px dotted #cbcbca;
  }
  .title {
    height: 33px;
    line-height: 33px;
    background: none;
    border-top: none;
    .col1, .col2, .col3 {
      color: $ML_9BLACK;
    }
  }
}
#main .tab-coupons .tab-group .active {
  top: -1px;
  height: 26px;
  line-height: 26px;
  background-color: #fff;
  z-index: 2;
}


#main {
  li .col1 {
    width: 260px;
    a:first-child {
      color: $ML-RED;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  li .col2 {
    width: 35px;
    color: $ML-RED;
    img {
      position: relative;
      top: 9px;
    }

  }
  li .col1, li .col2, li .col3 {
    display: inline-block;
    text-align: left;
  }
}
.hot-area {

  width: 318px;
  height: 240px;
  padding-bottom: 10px;
  ul li {
    position: relative;
    float: left;
    width: 78px;
    height: 78px;
    margin-right: 2px;
    margin-bottom: 2px;
    img {
      width: 100%;
      height: 100%;
    }
    p {
      padding: 12px 0 0 12px;
      line-height: 18px;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .area1 {
    width: 156px;
    height: 78px;
  }
  .area2, .area3 {
    width: 77px;
    height: 78px;
  }
}

.hot-cov {
  width: 294px;
  height: 84px;
  padding: 10px;
  border: 1px solid #c0c0c0;
  background: #fff;
  position: absolute;
  top: 136px;
  left: 288px;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.2);
  z-index: 3;
  display: none;
  .text {
    display: inline-block;
    width: 150px;
    margin-left: 10px;
    strong {
      color: $ML_GRAY;
      font-size: 16px;
    }
    p {
      margin-top: 10px;
      color: $ML_6BLACK;
    }
  }
  span {
    width: 8px;
    height: 14px;
    overflow: hidden;
    position: absolute;
    top: 45px;
    left: -8px;
    background: url(../images/adorn.gif) no-repeat 0 -48px;
  }
}

.pis-list li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dbdbdb;
  overflow: hidden;
  .img {
    width: 90px;
    height: 67px;
    padding: 2px;
    border: 1px solid #dbdbdb;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .text {
    width: 105px;
    height: 55px;
    line-height: 14px;
    a {
      color: $ML-RED;
    }
    a:hover {
      text-decoration: underline;
    }
    b {
      color: $ML_9BLACK;
    }
    span {
      color: $ML_6BLACK;
    }
  }
}
.panoramic {
  width: 220px;
  height: 110px;
  img {
    width: 100%;
    height: 100%;
  }
}
.panoramic-text {
  height: 28px;
  line-height: 28px;
}
.pis-list .list_tab {
  li {
    padding-left: 10px;
    background: url("../images/dot.gif") no-repeat left 5px;
    a {
      color: $ML-RED;
    }
    a:nth-child(2){
      color: $ML_6BLACK;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
.new-add .new-li{
  float: left;
  width: 107px;
  padding-bottom: 10px;
  .text {
    margin-top: 10px;
    a {
      display: inline-block;
      margin-bottom: 5px;
    }
  }
}
.new-add .list_tab li{

    height: 30px;
    line-height: 28px;
    padding-left: 12px;
    background: url("../images/dot.gif") no-repeat 5px center;
    border-top: 1px dotted #cbcbca;
    a {
      color: $ML-RED;
    }
    a:nth-child(2){
      color: $ML_6BLACK;
    }
    a:hover {
      text-decoration: underline;
    }

}
.help-con p {
  padding: 10px 0;
  text-indent: 20px;
}
.help-con ul {
  height: 45px;
  li {
    width: 50%;
    height: 45px;
    line-height: 45px;
    text-indent: 30px;
    background: url(../images/help.gif) no-repeat;
    font-family: arial;
  }
  .phone {
    font-size: 16px;
    font-weight: bold;
    color: #b80000;
    background-position: 7px 11px;
  }
  .message {
    background-position: 7px -31px;
  }

}
.help-con dl {
  width: 50%;
  height: 102px;
  padding-top: 10px;
  dt {
    height: 25px;
    line-height: 25px;
  }
  dd {
    line-height: 20px;
    background: url(../images/dot.gif) no-repeat 4px center;
    text-indent: 12px;
  }
}
.sound {
  height: 200px;
  padding-top: 10px;
}
.sound li {
  height: 32px;
  padding-bottom: 16px;
}
.sound img {
  width: 88px;
  height: 32px;
}
.sound p {
  width: 200px;

}

.main-search {
  height: 36px;
  text-indent: 12px;
}
#footer {
  background-color: #f9f9f9;
  ul {
    height: 50px;
    margin: 0 auto;
    text-align: center;
    li {
      display: inline-block;
      width: 60px;
      height: 50px;
      line-height: 50px;
      color: $ML_6BLACK;
      a {
        color: $ML_6BLACK;
      }
    }
  }
  p {
    text-align: center;
    height: 20px;
    line-height: 20px;
    color: $ML_9BLACK;
  }
}

